<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test3ViewController</key>
	<array>
		<dict>
			<key>EventId</key>
			<string>newButtonClick</string>
			<key>MethodName</key>
			<string>buttonClick</string>
		</dict>
	</array>
	<key>Test4ViewController</key>
	<array>
		<dict>
			<key>EventId</key>
			<string>otherButtonClick</string>
			<key>MethodName</key>
			<string>otherButtonClick</string>
		</dict>
		<dict>
			<key>EventId</key>
			<string>testClick</string>
			<key>MethodName</key>
			<string>testClick:</string>
			<key>Params</key>
			<array>
				<string>userName</string>
				<string>mobile</string>
			</array>
		</dict>
		<dict>
			<key>EventId</key>
			<string>tapClick</string>
			<key>MethodName</key>
			<string>tapClick</string>
		</dict>
		<dict>
			<key>EventId</key>
			<string>tableView:didSelectRowAtIndexPath:</string>
			<key>MethodName</key>
			<string>tableView:didSelectRowAtIndexPath:</string>
		</dict>
	</array>
</dict>
</plist>
